
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,700;1,400;1,800&display=swap');


* {
    box-sizing: border-box;
    margin: 0
}


body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: hsl(0, 0%, 86%);
}
.wrapper {
    display: grid;
    grid-template-rows: 1fr 2fr;
    height: 80vh;
    width: 60vw;
    background: hsl(0, 0%, 100%);
    border-radius: 30px 30px 180px 30px;
    font-family: 'Poppins', sans-serif;
    min-height: 400px;
}

.up {
    position: relative;
    width: 100%;
    display: grid;
    grid-auto-flow: row;
    grid-template-areas: "a b c"
                         "d d d";
    align-items: center;
    border-radius: 30px 30px 0 0;
}

.submitDiv {
    grid-area: d;
    margin-top: 3%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    height: 50px;
    min-width: 20px;
}

label {
    margin-right: 4%;
    font-weight: 400;
    padding-left: 20%;
    color: hsl(0, 1%, 44%)
}

h6 {
    margin: 10px 0px;
    height: 25px;
    width: 100%;
}

.errorClass {
    color: red
}

.errorClass > input {
    border: 1px solid red;
}

.errorClass > h6{
    margin: 10px 0px;
    font-style: italic;
    font-size: 13px;
    font-weight: 100;
}

hr {
    width: 95%;
}

input {
    display: block;
    height: 50px;
    width: 100%;
    border-radius: 5px;
    font-size: 25px;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    padding-left: 20px;
    border: 1px solid hsl(0, 1%, 44%);
}

input:focus {
    outline: none;
    border: 1px solid hsl(259, 100%, 65%);
    cursor: pointer;
}

#submit {
    position: absolute;
    right: 10%;
    z-index: 2;
    background: hsl(259, 100%, 65%);
    border-radius: 50%;
    padding: 20px
}

#submit:hover {
    background: hsl(0, 0%, 8%);
    cursor: pointer;
}

.bottom {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding-left: 10%;
    font-size: 4em;
    font-weight: 700;
    font-style: italic;
}

span {
    color: hsl(259, 100%, 65%);
    font-weight: 800;
}

.attribution {
    margin-top: 20px
}

@media (min-width: 521px) and (max-width: 1200px){
    .wrapper {
        width: 90vw;
        min-height: 550px;
    }
}

@media (min-width: 376px) and (max-width: 520px){
    .wrapper {
        width: 95vw;
    }

    input::placeholder {
        font-size: 1.3rem;
    }

    #submit {
        height: 70px;
    }

    .bottom {
        font-size: 3.3em;
    }
}

@media (max-width: 375px){
    .wrapper{
        width: 98vw;
        min-width: 300px;
    }

    input {
        padding-left: 0;
        text-align: center;
    }

    input::placeholder {
        font-size: 1.2rem;
        text-align: center;
    }

    #submit {
        height: 60px;
        right: 40%;
        padding: 10px;
    }

    .bottom {
        font-size: 2.8em;
    }

    .attribution {
        font-size: 0.8rem;
    }
}

